.container
  .row
    .span12
      h2 Messages
      hr
  each message in messages
    .row
      .span12
        i.icon-envelope
        b &nbsp;#{fromNow(message.dateSent)} #{message.author} a écrit
        - if (message.isRead === 'false')
          button.btn.btn-mini.btn-info.pull-right(data-id="#{message._id}") marquer comme lu
    .row(style="margin-top:.5em")
      .span12
        img.pull-left(src="http://www.gravatar.com/avatar/76f0d24ad87d65debc82aed00720f1ce?s=36", style="padding:3px; margin: 0 1em 0 2em; border:1px solid lightgray")
        b #{message.subject}
        p #{message.body}
        hr
  
